body{
  background-image: url(image/back_hos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 100%;
  display: table;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 0px);

}

.text{
  width: 70px;
  height: 30px;
  margin-left: 650px;
  margin-top: 40px;
  text-decoration: underline;
  text-shadow: 2px 1px 6px white;
  font-size: 50px;
  font-weight: 500;
  font-family: cursive;

}

#alert1{
  width: 400px;
  margin-left: 500px;
  box-shadow: 2px 2px 10px black;

}
.login{
  width: 400px;
  height: 250px;
  margin-left: 500px;
  margin-top: 50px;
  box-shadow: 2px 2px 10px black;
  box-sizing: bootstrap;

}



#name1{
  margin-left: 10px;
  margin-top: 10px;
}

#pass{
  margin-left: 10px;
  margin-top: 10px;
}
#b1{
  width: 400px;
}

.forgot{
  width: 450px;
  height: 225px;
  margin-left: 500px;
  margin-top: 10px;
}

.forgot p{
  font-size: 20px;
  font-weight: 100;
  font-style: normal;

}

.forgot a{
  font-size: 20px;
  font-weight: 100;
  color: red;
  font-style: normal;
}
