.mainbody{
  background-image: url(image/back_hos.jpg);
  width: 100%;
  height: calc(100vh - 106px);
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

#sidebar{
  height: 443px;
}

#sp{
  width: 300px;
}

#bttn1{
  margin-left: 600px;
}

#option1{
  font-size: 20px;
  font-weight: 200;
  color: black;
  line-height: 50px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 70px;
}
#option2{
  font-size: 20px;
  font-weight: 200;
  color: black;
  line-height: 50px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 70px;
}
#option3{
  font-size: 20px;
  font-weight: 200;
  color: black;
  line-height: 50px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 70px;
}
#option4{
  font-size: 20px;
  font-weight: 200;
  color: black;
  line-height: 50px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 70px;
}
#option5{
  font-size: 20px;
  font-weight: 200;
  color: black;
  line-height: 50px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 70px;
}
.Table{
  overflow-y: scroll;
  width: 1000px;
  height: 443px;

}
.footer{
  /*margin-top: 20px;*/
  background-color: #252121;
}
.row{
  margin-top: 16px;
}
.col-md-3{
  color:white;
}
.col-md-5{
  color: #1E44C0;
}
